* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

button[type=submit] {
  margin-block: 10px;
}

input[type='text'],
textarea {
  width: 200px;
  margin-block: 2.5px;
}

.container {
  margin-block: min(5%, 50px);
  margin-inline: 5%;
}

.spacer {
  margin: 50px;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
}

.issue.closed {
  background-color: lightgrey;
}

.identifier,
.participants,
.dates {
  font-size: 10.5px;
}
