form {
  padding: 5px;
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

.spacer {
  margin: 50px;
}

#sampleposting {
  max-width: 450px;
  margin-left: 5%;
  text-align: center;
}

#sampleui {
  height: 100%;
  max-width: 450px;
  margin-left: 5%;
}

#userstories {
  margin-left: 5%;
}
