body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  border: 2px solid #d6d6d6;
}

hr {
  margin: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
