* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

hr {
  margin-block: 10px;
}

input[type='text'],
textarea {
  width: 200px;
  margin-block: 2.5px;
}

input[type='submit'] {
  margin-block: 10px;
}

.container {
  margin-block: min(5%, 50px);
  margin-inline: 5%;
}

.spacer {
  margin: 50px;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.identifier {
  font-size: 10.5px;
}
